.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0;
}

.image {
  width: 50vw;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  border: solid 2px white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
